@charset "UTF-8";

body {
    background-color: rgb(128, 149, 255);
    font-family: sans-serif;
}

h1 {
    color: rgb(42, 63, 170);
    text-shadow: 1px 1px 2px rgb(101, 101, 251);
}

h2 {
    color: rgb(43, 43, 197);
    text-shadow: 1px 1px 2px rgb(101, 101, 251);
}

h3 {
    color: rgb(55, 71, 149);
    text-shadow: 1px 1px 2px rgb(101, 101, 251);
}