@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, purple, rgb(255, 0, 255));
    height: 100%;
}

main {
    height: 1000px;
    background-color: white;
    width: 70%;
    padding: 10px;
    margin: auto;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px rgba(72, 0, 72, 0.29);
    padding-bottom: 30px;
}

h1 {
    height: auto;
    width: 550px;
    text-align: center;
}

h2 {
    height: auto;
}
p {
    text-align: justify;
    height: auto;
}

